body {
    background: url("./newYorkCity.jpg");
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Source Serif Pro', serif;
}

#bio,#contactinfo {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    background-color:#0c9b7a;
    color:white;
    font-size:20px;
}

.photoprojects {
    height: 60px;
}

#copy {
    margin-bottom: 0px;
}

.row{
    display: flex;
    margin-bottom: 50px;
    flex-direction: row;
    justify-content: space-around;
    background-color:#0c9b7a;
    color:white;
    font-size:20px;
}

.headshot{
    margin: 20px;
    width:20%;
    border-radius: 60%;
    border: white dotted;
}

.mid{
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    background-color: #0c9b7a;
    color: white;
    align-items:center;
    font-family:"Galada", cursive;
    font-size: 20px;
}

.aboutme{
    margin-bottom: 50px;  
}

a:link{
    color: white;
}

a:visited{
    color:white;
}